* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: rgb(31, 197, 197);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#change {
    padding: 0.5rem 2rem;
    margin: 1rem;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 6px;
    color: white;
    font-size: large;
    text-transform: capitalize;
}

#change:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.589);
}

#change:active {
    transform: scale(0.9);
}

#color {
    font-size: 1.5rem;
}

footer {
    position: fixed;
    inset: auto 0 0 0;
    background-color: black;
}

footer a {
    padding: 0.4rem 2rem;
    color: #fff;
}